In [6]:
set_flag()
flag

1

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('voices_unavailable.csv')
df['word']

0                   لونی
1           بازار بَنانا
2                    اَب
3        ِ اِحِْتشام دار
4               بندی جان
              ...
6937          پرچہ نِگار
6938         پرچہ نَوِیس
6939       پَرْچی ڈالْنا
6940       پَرْچے کَرْنا
6941     پَرِچَے رَکْھنا
Name: word, Length: 6942, dtype: object

In [18]:
df=df.drop(df.loc[df['word']=='لونی'].index.values)

In [19]:
df

      Unnamed: 0              word
0              0              لونی
1              1      بازار بَنانا
2              2               اَب
3              0   ِ اِحِْتشام دار
4              1          بندی جان
...          ...               ...
6937        1020        پرچہ نِگار
6938        1021       پرچہ نَوِیس
6939        1022     پَرْچی ڈالْنا
6940        1023     پَرْچے کَرْنا
6941        1024   پَرِچَے رَکْھنا

[6942 rows x 2 columns]

In [6]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
scope = ['https://www.googleapis.com/auth/spreadsheets',
         "https://www.googleapis.com/auth/drive"]
credentials = ServiceAccountCredentials.from_json_keyfile_name("words-correction-a710f731b5e8.json", scope)
client = gspread.authorize(credentials)
sheet = client.open("recorded voices").sheet1

In [7]:
sheet

In [18]:
import glob
import os

list_of_files = glob.glob('recorded_voices/*.wav') # * means all if need specific format then *.csv
latest_file = max(list_of_files, key=os.path.getctime)
file_name=str(int(latest_file.split('/')[1].split('.wav')[0])+1)
file_name

'2'

In [19]:
import pandas as pd

data = {'name': ['Somu', 'Kiku', 'Amol', 'Lini'],
	'physics': [68, 74, 77, 78],
	'chemistry': [84, 56, 73, 69],
	'algebra': [78, 88, 82, 87]}

	
#create dataframe
df_marks = pd.DataFrame(data)
print('Original DataFrame\n------------------')
print(df_marks)

new_row = {'name':'Geo', 'physics':87, 'chemistry':92, 'algebra':97}
#append row to the dataframe
df_marks = df_marks.append(new_row, ignore_index=True)

print('\n\nNew row added to DataFrame\n--------------------------')
print(df_marks)

Original DataFrame
------------------
   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87


New row added to DataFrame
--------------------------
   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87
4   Geo       87         92       97

/tmp/ipykernel_13425/1421141668.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_marks = df_marks.append(new_row, ignore_index=True)

In [1]:
a='./recorded_voices/0.wav'

In [4]:
a.split('/')[-1]

'0.wav'

In [3]:
a

'./recorded_voices/0.wav'